In [3]:
'''Exercice 1 - Déclaration d'objets de type int et opérations mathématiques'''

"Exercice 1 - Déclaration d'objets de type int et opérations mathématiques"

In [4]:
a = 5
b = 10
somme = a + b
produit = a * b
difference = a - 4
quotient = a / b

print(a, type(a))
print(b, type(b))
print(somme, type(somme))
print(produit, type(produit))
print(difference, type(difference))
print(quotient, type(quotient))

5 <class 'int'>
10 <class 'int'>
15 <class 'int'>
50 <class 'int'>
1 <class 'int'>
0.5 <class 'float'>

In [1]:
'''Exercice 2 - Déclaration d'objets de type float '''

"Exercice 2 - Déclaration d'objets de type float "

In [2]:
a = .005
b = 1.
c = 12.10
d = 12.0
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

0.005 <class 'float'>
1.0 <class 'float'>
12.1 <class 'float'>
12.0 <class 'float'>

In [3]:
'''Exercice 3 - Opérations mathématiques mélangeant float et int'''

'Exercice 3 - Opérations mathématiques mélangeant float et int'

In [4]:
n_entier = 10
n_virgule = 5.0
somme = n_entier + n_virgule
produit = n_entier * n_virgule
différence = n_entier - n_virgule
quotient = n_entier - n_virgule

print(somme, type(somme))
print(produit, type(produit))
print(différence, type(différence))
print(quotient, type(quotient))

15.0 <class 'float'>
50.0 <class 'float'>
5.0 <class 'float'>
5.0 <class 'float'>

In [5]:
'''Exercice 4 - Conversion d'un objet float et un objet de type int'''

"Exercice 4 - Conversion d'un objet float et un objet de type int"

In [9]:
'''Script 4.1 - conversion avec la fonction int()'''

'Script 4.1 - conversion avec la fonction int()'

In [8]:
a = 4.9 
b = 4.51
c = 4.5
d = 4.49
d = 4.1

print(a, int(a))
print(b, int(b))
print(c, int(c))
print(d, int(d))

4.9 4
4.51 4
4.5 4
4.1 4

In [10]:
'''Script 4.2 - conversion à l'aide la fonction round()'''

"Script 4.2 - conversion à l'aide la fonction round()"

In [11]:
a = 4.9 
b = 4.51
c = 4.5
d = 4.49
d = 4.1

print(a, round(a))
print(b, round(b))
print(c, round(c))
print(d, round(d))

4.9 5
4.51 5
4.5 4
4.1 4

In [12]:
'''Exercice 5 - Déclarations de chaines de caractères str'''

'Exercice 5 - Déclarations de chaines de caractères str'

In [13]:
#Script 5.1 - Déclaration de chaînes de caractères mono-lignes 
single_quotes = 'Hello world'
double_quotes = "Hello world"

print( single_quotes, type(single_quotes))
print(double_quotes, type(double_quotes))

Hello world <class 'str'>
Hello world <class 'str'>

In [14]:
#Script 5.2 - Déclaration de chaînes de caractères multi-lignes 
triple_single_quotes = '''
Hello world

Hello world'''

print(triple_single_quotes, type(triple_single_quotes))

triple_double_quotes = """

Hello world

Hello world"""

print(triple_double_quotes, type(triple_double_quotes))

Hello world

Hello world <class 'str'>


Hello world

Hello world <class 'str'>

In [15]:
'''Exercice 6 - Séquence échappement & Backslash'''

'Exercice 6 - Séquence échappement & Backslash'

In [17]:
# Comment puis-je faire pour sauter une ligne à l'intérieur d'une str mono-ligne?
texte_multiligne = "Une ligne\nDeux lignes"
print(texte_multiligne)

#On met une \n

Une ligne
Deux lignes

In [21]:
#Si je déclare un str avec des guillemets doubles, comment puis-je y intégrer du texte qui contient une paire de guillemet double?
texte_echape_1 = "Et là je met des \"doubles quotes\" dans ma string!"
print(texte_echape_1)

Et là je met des "doubles quotes" dans ma string!

In [20]:
#Si je déclare un str avec des guillemets simples, comment puis-je y intégrer du texte qui contient un guillemet simple (ou apostrophe)?
texte_echape_2 = 'Il n\'y a que des simples quotes dans c\'ette ligne de code, n\'est ce pas?'
print(texte_echape_2)

# on met n\

Il n'y a que des simples quotes dans c'ette ligne de code, n'est ce pas?

In [22]:
'''Exercice 7 - Raw Strings'''

'Exercice 7 - Raw Strings'

texte_échappé_raw = r'C:\Windows\Users\nom_dossier\nom_fichier.txt'
mettre le r pour contrer le \

In [23]:
'''Exercice 8 - Déclaration de list'''

'Exercice 8 - Déclaration de list'

In [24]:
une_liste = list()
une_autre_liste = []
encore_une_liste = [1, 2,3,"soleil"]

print(une_liste, type(une_liste))
print(une_autre_liste, type(une_autre_liste))
print(encore_une_liste, type(encore_une_liste))

[] <class 'list'>
[] <class 'list'>
[1, 2, 3, 'soleil'] <class 'list'>

In [25]:
'''Exercice 9 - Déclaration de booléen'''

'Exercice 9 - Déclaration de booléen'

In [26]:
vrai = True
faux = False

print(vrai, type(vrai))
print(faux, type(faux))

True <class 'bool'>
False <class 'bool'>

In [27]:
'''Exercice 10 - True et False sont des 1 et 0 déguisés'''

'Exercice 10 - True et False sont des 1 et 0 déguisés'

In [28]:
print(True + True + True)
print(False + False + False)
print(True + True + False)
print(False + False + True)

3
0
2
1

In [29]:
'''Exercice 11 - Évaluation booléenne de différents objets '''

'Exercice 11 - Évaluation booléenne de différents objets '

In [30]:
liste_vide = []
string_vide = ''
liste_non_vide = [1,2]
string_non_vide = 'hey'
zéro = 0
pas_zero = -0.01

print(liste_vide, bool(liste_vide))
print(string_vide, bool(string_vide))
print(liste_non_vide, bool(liste_non_vide))
print(string_non_vide, bool(string_non_vide))
print(zéro, bool(zéro))
print(pas_zero, bool(pas_zero))

[] False
 False
[1, 2] True
hey True
0 False
-0.01 True