# Exercice 1 - Factoriser son code avec des boucles For
Recopier le code puis exécuter le pour constater ce qu'il affiche. Puis remplacer le code par une boucle for qui obtient exactement le même résultat.

Ensuite rajouter des éléments à notre liste pour bien vérifier que le bout de code s'adapte à la taille de la liste.

In [1]:
collection = ['A', 'B', 'C']
index = 0
each = collection[index]
print(each.lower())
index = index + 1
each = collection[index]
print(each.lower())
index = index + 1
each = collection[index]
print(each.lower())

a
b
c

In [6]:
collection = ["A", 'B', 'C']

# ici on veut affciher les éléments de la liste en miniscule

for each in collections:
    print(each.lower())

a
b
c

# Exercice 2 - Bien choisir ses noms de variables.
Que va afficher le code ci-dessous? Décrivez en une phrase simple ce que fait ce bout de code.

Ensuite recopiez-le puis exécutez-le pour vérifier votre réponse.

Après, renommez les variables pour leur donner un nom explicite en suivant la nomenclature ci-dessous.

liste -> nombres_pairs
each -> nombre_pair
result -> carré

In [8]:
# Le affiche chaque élément élevé au caré

nombres_pairs = [0,2,4,6,8,10,12,14,16,18,20,22,24,26,28]

for nombre_pair in nombres_pairs:
    carre = nombre_pair **2 
    print(carre)

0
4
16
36
64
100
144
196
256
324
400
484
576
676
784

# Exercice 3 - Utilisez enumerate() plutôt que de créer des compteurs
Que va afficher le code ci-dessous? Que fait-il?

Recopiez ce code puis exécutez-le pour vérifier votre réponse.

Puis raccourcissez ce bout de code en utilisant la fonction built-in enumerate().

In [9]:
# Ici on cherche à compter le nombre de multitples de 3 entre 0 et 100

multiples_de_trois = list(range(0,100,3))
i = 0 
for each in multiples_de_trois:
    # Ci-dessous, {i + 1} car i commence à zéro et on veut compter à partir de 1
    print(f'Le multiple de tois n°{i + 1} est {each}.')
    i = i + 1

Le multiple de tois n°1 est 0.
Le multiple de tois n°2 est 3.
Le multiple de tois n°3 est 6.
Le multiple de tois n°4 est 9.
Le multiple de tois n°5 est 12.
Le multiple de tois n°6 est 15.
Le multiple de tois n°7 est 18.
Le multiple de tois n°8 est 21.
Le multiple de tois n°9 est 24.
Le multiple de tois n°10 est 27.
Le multiple de tois n°11 est 30.
Le multiple de tois n°12 est 33.
Le multiple de tois n°13 est 36.
Le multiple de tois n°14 est 39.
Le multiple de tois n°15 est 42.
Le multiple de tois n°16 est 45.
Le multiple de tois n°17 est 48.
Le multiple de tois n°18 est 51.
Le multiple de tois n°19 est 54.
Le multiple de tois n°20 est 57.
Le multiple de tois n°21 est 60.
Le multiple de tois n°22 est 63.
Le multiple de tois n°23 est 66.
Le multiple de tois n°24 est 69.
Le multiple de tois n°25 est 72.
Le multiple de tois n°26 est 75.
Le multiple de tois n°27 est 78.
Le multiple de tois n°28 est 81.
Le multiple de tois n°29 est 84.
Le multiple de tois n°30 est 87.
Le multiple de tois n°31 est 90.
Le multiple de tois n°32 est 93.
Le multiple de tois n°33 est 96.
Le multiple de tois n°34 est 99.

In [21]:
multiples_de_trois = list(range(0,100,3))

for i, multiple_de_trois in enumerate(multiples_de_trois):
    print(f'Le multiple de trois est {i +1 }:', (multiple_de_trois))

Le multiple de trois est 1: 0
Le multiple de trois est 2: 3
Le multiple de trois est 3: 6
Le multiple de trois est 4: 9
Le multiple de trois est 5: 12
Le multiple de trois est 6: 15
Le multiple de trois est 7: 18
Le multiple de trois est 8: 21
Le multiple de trois est 9: 24
Le multiple de trois est 10: 27
Le multiple de trois est 11: 30
Le multiple de trois est 12: 33
Le multiple de trois est 13: 36
Le multiple de trois est 14: 39
Le multiple de trois est 15: 42
Le multiple de trois est 16: 45
Le multiple de trois est 17: 48
Le multiple de trois est 18: 51
Le multiple de trois est 19: 54
Le multiple de trois est 20: 57
Le multiple de trois est 21: 60
Le multiple de trois est 22: 63
Le multiple de trois est 23: 66
Le multiple de trois est 24: 69
Le multiple de trois est 25: 72
Le multiple de trois est 26: 75
Le multiple de trois est 27: 78
Le multiple de trois est 28: 81
Le multiple de trois est 29: 84
Le multiple de trois est 30: 87
Le multiple de trois est 31: 90
Le multiple de trois est 32: 93
Le multiple de trois est 33: 96
Le multiple de trois est 34: 99

# Exercice 4 - Utilisez zip() pour itérer en parallèle sur deux listes distinctes.
Que va afficher le code ci-dessous? 

Que fait-il?

Recopiez ce code puis exécutez-le pour vérifier votre réponse.

Puis raccourcissez la deuxième boucle en utilisant la fonction built-in zip().

Trouvez-vous le code plus facile à lire après avoir fait la modification?

In [25]:
nombres = list(range(1,20))
racines_carrées = []
# Cette boucle nous permet de créer une liste des racines carrés des nombre de 1 à 19

for nombre in nombres:
    racine = nombre **0.5
    racines_carrées.append(racine)
    
# Remplacez la deuxième boucle par une plus succinte en utilisant zip(...)
for i in range(len(racines_carrées)):
    nombre = nombres[i]
    racine = racines_carrées[i]
    print(f' La racine carrée du nombre {nombre}  est {racine}.')

 La racine carrée du nombre 1  est 1.0.
 La racine carrée du nombre 2  est 1.4142135623730951.
 La racine carrée du nombre 3  est 1.7320508075688772.
 La racine carrée du nombre 4  est 2.0.
 La racine carrée du nombre 5  est 2.23606797749979.
 La racine carrée du nombre 6  est 2.449489742783178.
 La racine carrée du nombre 7  est 2.6457513110645907.
 La racine carrée du nombre 8  est 2.8284271247461903.
 La racine carrée du nombre 9  est 3.0.
 La racine carrée du nombre 10  est 3.1622776601683795.
 La racine carrée du nombre 11  est 3.3166247903554.
 La racine carrée du nombre 12  est 3.4641016151377544.
 La racine carrée du nombre 13  est 3.605551275463989.
 La racine carrée du nombre 14  est 3.7416573867739413.
 La racine carrée du nombre 15  est 3.872983346207417.
 La racine carrée du nombre 16  est 4.0.
 La racine carrée du nombre 17  est 4.123105625617661.
 La racine carrée du nombre 18  est 4.242640687119285.
 La racine carrée du nombre 19  est 4.358898943540674.

In [32]:
nombres = list(range(1,20))
racines_carrées = []

# Cette boucle nous permet de créer une liste des racines carrés des nombre de 1 à 19
for nombre in nombres:
    racine = nombre **0.5
    racines_carrées.append(racine)
for nombre, racine_carre in zip(nombres, racines_carrées):
    print(f' La racine carrée du nombre {nombre}  est {racine_carre}')

 La racine carrée du nombre 1  est 1.0
 La racine carrée du nombre 2  est 1.4142135623730951
 La racine carrée du nombre 3  est 1.7320508075688772
 La racine carrée du nombre 4  est 2.0
 La racine carrée du nombre 5  est 2.23606797749979
 La racine carrée du nombre 6  est 2.449489742783178
 La racine carrée du nombre 7  est 2.6457513110645907
 La racine carrée du nombre 8  est 2.8284271247461903
 La racine carrée du nombre 9  est 3.0
 La racine carrée du nombre 10  est 3.1622776601683795
 La racine carrée du nombre 11  est 3.3166247903554
 La racine carrée du nombre 12  est 3.4641016151377544
 La racine carrée du nombre 13  est 3.605551275463989
 La racine carrée du nombre 14  est 3.7416573867739413
 La racine carrée du nombre 15  est 3.872983346207417
 La racine carrée du nombre 16  est 4.0
 La racine carrée du nombre 17  est 4.123105625617661
 La racine carrée du nombre 18  est 4.242640687119285
 La racine carrée du nombre 19  est 4.358898943540674

# Exercice 5 - Utilisez reversed() pour inverser l'ordre de lecture d'une liste.
Que va afficher le code ci-dessous?

Modifier la boucle pour obtenir le même résultat mais en utilisant le built-in reversed(..).

Trouvez-vous que le code se lit plus facilement après modification?

Pour votre culture générale: En programmation il est courant d'utiliser `i` comme nom de la variable d'index. Et si on a besoin d'un second index au même moment, on va lui donner le nom d'une lettre après `i`.. Donc `j` puis `k` et ainsi de suite.

In [35]:
# Afficher les nombres de 1 à 30 en ordre décroissant (commencer par 30)
un_a_trente = list(range(0,30+1))

for i in range(len(un_a_trente)):
    j = -(i +1 ) # # Ici on transforme un index positif en index négatif pour commencer par la fin de la liste
    print(un_a_trente[j])

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [43]:
# on crée une liste de 1 à 30
listes= list(range(1, 31))

#Afficher l'inverse de la liste 

for liste in reversed(listes):
    print(liste)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# Exercice 6 - Utilisez .items() pour itérer sur les éléments d'un dict.
Que va afficher le code ci-dessous? 

Bien que cette manière d'itérer sur les clefs et les valeurs d'un dictionnaire soit tout à fait valable, modifiez la boucle pour utiliser la méthode de dictionnaires .items() et parvenir au même résultat.

In [44]:
menu = {'poisson' : 100,
           'vege' : 40,
          'pizza' : 70}

for plat in menu:
    prix = menu[plat]
    print(f'Le coût du plat {plat} est {prix}€')

Le coût du plat poisson est 100€
Le coût du plat vege est 40€
Le coût du plat pizza est 70€

In [51]:
menu = {'Poisson':100,
       'Végé'   : 40,
       'Pizza'  : 70,}

for plat, prix in menu.items(): 
    print(f'Le coût du plat {plat} est {prix} €')

Le coût du plat Poisson est 100 €
Le coût du plat Végé est 40 €
Le coût du plat Pizza est 70 €

# Exercice 7 - Utilisez `continue` pour ignorer des cas dans une boucle FOR
Je voulais écrire un script qui me permet d'afficher le nom de tous les fichiers .mp3 que j'ai dans mes_fichiers. Pouvez-vous m'aider et corriger le bout de code s'il vous plaît? (Si possible)

In [ ]:
# rechercher tous les fichiers .mp3
mes_fichiers = ['musique_rock.mp3', 'fast_and_furious_18.MP4',
                'twilight_4_le_retour.MP4', 'game_of_thrones_S1E1.mp4',
                'musique_zumba.MP3', 'musique_techno.mp3',
                'avengers_5.mp4', 'podcast_cool.MP3']
for fichier in mes_fichiers:
    ext = fichier.split('.')[-1]
    if ext != '.MP3':
        continue
    print(fichier)

In [76]:
# Recherche tous les fichiers .mp3
mes_fichiers = ['musique_rock.mp3', 'fast_and_furious_18.MP4',
                'twilight_4_le_retour.MP4', 'game_of_thrones_S1E1.mp4',
                'musique_zumba.MP3', 'musique_techno.mp3',
                'avengers_5.mp4', 'podcast_cool.MP3']
#On va dans un premier temps séparer les éléments de la liste 

for fichier in mes_fichiers:
    if fichier.lower().endswith('mp3'):
        print(fichier)

musique_rock.mp3
musique_zumba.MP3
musique_techno.mp3
podcast_cool.MP3

# Exercice 8 - We need to go deeper, les boucles FOR imbriquées.
Souvenez-vous de l'époque fastidieuses où l'on devait apprendre les tables de multiplications?

Cette époque est révolue.

Le bout de code ci-dessous permet d'afficher toutes les tables de multiplications que l'on souhaite.

Prenez le temps de recopier ce bout de code et d'étudier son fonctionnement.

Puis essayez d'apporter les modifications permettant de répondre aux requêtes suivantes.

1) Affichez les tables de multiplications de 11 à 20 plutôt que celles de 1 à 10.
2) Affichez des tables plus grandes qui vont de 0 à 19 plutôt que de 0 à 10.
3) Affichez le nombre dont c'est la table en deuxième plutôt qu'en premier. (Exemple: dans la table de 3, affichez "10 x 3" plutôt que "3 x 10")

In [ ]:
for i in range(1, 10+1):
    print(f'Table de multiplication de {i}')
    for j in range(10+1):
        print(f'{i} x {j} = {i * j}')
    print('\n')

In [79]:
for i in range (1, 10+1):
    print(f'table de multiplication de {i}')
    
    for j in range(10+1):
        print(f'{i} * {j} = {i * j}')
    print()

table de multiplication de 1
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

table de multiplication de 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

table de multiplication de 3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

table de multiplication de 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

table de multiplication de 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

table de multiplication de 6
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

table de multiplication de 7
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

table de multiplication de 8
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

table de multiplication de 9
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

table de multiplication de 10
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100